html,
 body { /* inflate body to full height */
  height: 100%;
  margin: 0;
}

.container{
  margin: 20px;
  height: 95%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.stepper-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.content {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.preview {
  max-width: 400px;
}

.preview-container {
  border: 2px dashed #AAAa;
  height: 400px;
  width: 400px;
}


/* ANALYSIS COMPONENT */

.analysis-view {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  /* justify-content: ; */
}

div {
  /* width: 100%; */
}

.analysis-title {
  text-align: center;
}

#image-view {
  position: relative;
}

.layer{
  position: absolute;
  top: 0;
  left: 0;
}

#editor {
  padding-top: 5%;
}

.editor-child {
  padding: 5%;
}

.editing-container {
  margin: 5%;
  padding: 2% 20% 2% 5%;
  width: 200%;
}

.slider {
  width: inherit;
  padding: 2%;
}

.klScoreCard {
  min-width: 150px;
  padding: 5%;
  text-align: center;
}
