html,
 body { /* inflate body to full height */
  height: 100%;
  margin: 0;
}

.container{
  margin: 20px;
  height: 95%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* OVERRIDING DIMENSION OF THE STEPPER */

.stepper-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100%;
  margin-bottom: 2%;
}

.stepper {
  width: 70%;
}

.stepButton {
  font-size: 16px !important;
  cursor: pointer;
}

.MuiStepLabel-iconContainer {
  transform: scale(1.25);
}

.content {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.uploadStack {
  margin-top: 2%;
}

.upload-container {
  border: 1px dashed lightgray;
  min-height: 448px;
  width: 448px;
  max-width: 448px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: lightgray;
}


.ReactCrop__image {
  max-height: 600px;
  width: 448px;
}

.preview {
  max-width: 400px;
}

.preview-container {
  border: 2px dashed #AAAa;
  height: 400px;
  width: 400px;
}


/* ANALYSIS COMPONENT */

.analysis-view {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  /* justify-content: ; */
}

div {
  /* width: 100%; */
}

.analysis-title {
  text-align: center;
}

#image-view {
  position: relative;
}

.layer{
  position: absolute;
  top: 0;
  left: 0;
}

#editor {
  padding-top: 5%;
}

.editor-child {
  padding: 5%;
}

.editing-container {
  margin: 5%;
  padding: 2% 20% 2% 5%;
  width: 200%;
}

.slider {
  width: inherit;
  padding: 2%;
}

.klScoreCard {
  min-width: 150px;
  padding: 5%;
  text-align: center;
}
.upload-notes {
  margin-top: 20;
  margin-bottom: 20;
  display: 'block';
}

.preview-notes {
  margin-top: 20;
  margin-bottom: 20;
  display: 'block';
}

.menu-input{
  /* margin-bottom: 25px; */
}


/* ANALYSIS COMPONENT */

.analysis-view {
  display: flex;
  flex-direction: row;
  /* justify-content: ; */
}

#layers {
  position: relative;
}

.layer{
  position: absolute;
  top: 0;
  left: 0;
}

#sliders {
  margin-top: 300px;
}

.editing-container {
  margin: 5%;
  padding: 2% 20% 2% 5%;
  width: 200%;
}

.editing-functions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* REPORT COMPONENT */

.reportContainer {
  width: 100%;
  height: 100vh !important;
}

.reportPreview {
  width: 100%;
  height: inherit;
}
